/* PC */
@media (min-width: 64em) {
    .menu-btn {
        display: none;
    }
}

/* Tablet & Mobile */
@media (max-width: 63.9375em) {
    .nav-lists {
        display: none;
        flex-basis: 100%;
        flex-grow: 1;
        align-items: center;
    }   
   
    .nav-lists ul {
        flex-direction: column;
        align-items: center;
        background-color: #fff;
        padding: 20px;
        margin-top: 10px;
    }

    .nav-item {
        margin: 0;
    }

    .nav-item:hover {
        border-bottom: 1px solid #f85a40;
    }

    .nav-item a {
        color: #000;
    }

    .nav-item a:hover {
        color: #f85a40;
        transition: all 0.5s;
    }

    #searching {
        width: 100%;
    }

    .aboutImage img {
        width: 100%;
    }

    #secondPart .aboutUs {
        display: inline-block;
    }

    #thirdPart .wwDo-down {
        display: initial;
    }

    #fourthPart .happyCus-box {
        display: initial;
    }

    #fourthPart .happyCus-content,
    #fourthPart .happyCus-comment {
        max-width: 100%;
    }
    
    #sixthPart .dog-text i {
        font-size: 40px;
    }

    #eighthPart .last-new-box {
        display: initial;
    }

    #footer .footer-up {
        display: initial;
    }

    #footer .footer-one,
    #footer .footer-two {
        max-width: 100%;
        padding-bottom: 30px;
    }

    #footer .footer-three {
        max-width: 100%;
    }

}

/* Tablet */
@media (min-width: 46.25em) and (max-width: 63.9375em) {
    .search-btn {
        right: 280px;
    }
   
    #firstPart .title,
    #firstPart .title-btn {
        padding-left: 80px;
    }

    #secondPart .container {
        max-width: 100%;
    }

    #secondPart .aboutContent {
        margin-top: 50px;
    }

    .wwDo-down .wwDo {
        max-width: 70%;
        margin-left: 100px;
        margin-bottom: 30px;
    }

    #fourthPart {
        padding: 0;
    }

    #fourthPart .commentCus {
        margin-top: 50px;
    }

    .two-fonts .font-detail {
        padding-right: 180px;
    }

    #fifthPart .our-galleryy-text {
        padding: 40px 50px;
    }

    #eighthPart .last-new-content p {
        padding-left: 95px;
        padding-right: 95px;
    }

    #eighthPart .last-new-info {
    max-width: 70%;
    margin-left: 100px;
    margin-bottom: 30px;
    }

    #footer .footer-down {
        margin-top: 0;
    }

}

/* Mobile */
@media (max-width: 46.1875em) {
    .search-btn {
        right: 100px;
    }

    #firstPart .title-btn,
    #firstPart .title {
        padding-left: 50px;
    }

    #firstPart .title {
        padding-top: 300px;
    }

    #firstPart .title h1 {
        font-size: 33px;
    }

    #secondPart .aboutContent {
        margin-top: 30px;
    }

    #secondPart .aboutDown {
        margin-top: 50px;
    }

    #thirdPart {
        padding-bottom: 50px;
    }
    
    .wwDo-down .wwDo {
        max-width: 80%;
        margin-left: 40px;
        margin-bottom: 30px;
    }

    #fourthPart .happyCus {
        padding: 0;
    }

    #fourthPart .happyCus-comment {
        margin-top: 50px;
    }


    .two-fonts .font-detail {
        padding-right: 50px;
    }
    

    #fifthPart .our-galleryy-text {
        padding: 20px 10px;
    }

    #sixthPart .dog-info {
        display: initial;
    }

    #sixthPart .dogServices {
        padding: 0;
    }

    #sixthPart .dog-service,
    #sixthPart .dog-picture {
        max-width: 100%;
    }

    #seventhPart .petContent h4 {
        font-size: 28px;
    }

    #eighthPart .last-new-content p {
        padding-left: 20px;
        padding-right: 20px;
    }

    #eighthPart .last-new-info {
        max-width: 80%;
        margin-left: 40px;
        margin-bottom: 30px;
    }

    #footer .footer-down {
        margin-top: 0;
        display: block;
    }

    #footer .footer-down p {
        font-size: 13px;
        margin-bottom: 30px;
    }

    #footer .footer-social {
        justify-content: center;
    }

}